{% extends 'base.html' %} {% block content %}

<h1>Coming Soon...</h1>

{% for game in games %}
<div class="card d-flex">
  <div class="card-content">
    <span class="card-title">{{ game.title }}</span>
    <p>Price: ${{ game.price }}</p>
    <p>Company: {{ game.company }}</p>
  </div>
  <aside>
    <img
      class="game-images"
      src="{{ game.cover.url }}"
      alt="{{ game.title }}"
      class="img-fluid"
      style="max-width: 100px"
    />
  </aside>
</div>
{% endfor %} {% endblock %}
